<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <div class ="header">
      <!-- this goes to index -->
    <p class = "front-title"><%= @account %></p>
  </div>

  <% if admin_signed_in? %>
    <!-- <%= @test %> -->
    <div class = "pdf-container">
<!--       <% if @account == "GEAR" || @account == "UNDER ARMOUR" %>
        <% @pdfs.each_with_index do |pdf, index| %>
        <% filename = pdf.split('/').last %>
      displayname = @filenames[@account][index]
        <%= link_to(filename, controller: "catalogues", action: "subfolder", subid:filename, id:@account) %>
        <% end %>
      <% else %> -->
<!--         <% @pdfs.each_with_index do |pdf, index| %>
        <% filename = pdf.split('/').last %>
        <%= pdf %> -->
          <!-- if pdf.type != file -->
          <!-- pdf.children.each/ <ul> -->
          <!-- <li>s -->
        <!-- split again to remove pdf -->
        <!-- <a href='<%= image_path("#{@account}/#{filename}")%>'><%= filename %></a> -->
        <!-- <% end %> -->
      <!-- <% end %> -->
      <div class="front-menu">
        <ul>
          <%= @string.html_safe %>
        </ul>
      </div>
    </div>
    <div class="header">
      <%= image_tag("headers/#{@account}", class: "header_logo") %>
    </div>
    <p id="showback">
      <a href = "/">BACK</a>
    </p>
  <% else %>
  <p>Please sign in</p>
  <% end %>

</body>
</html>
