<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>

  <% if admin_signed_in? %>
    <div class = "link-container">
      <%= link_to image_tag("champcover.png", class: "header_logo"), {controller: "catalogues", action: "show", id:"CHAMPION"} %>
      <%= link_to image_tag("gearcover.png", class: "header_logo"), {controller: "catalogues", action: "show", id:"GEAR"} %>
      <%= link_to image_tag("outofhandcover.png", class: "header_logo"), {controller: "catalogues", action: "show", id:"OUT OF HAND"} %>
      <%= link_to image_tag("sperrycover.png", class: "header_logo"), {controller: "catalogues", action: "show", id:"SPERRY"} %>
      <%= link_to image_tag("spiritcover.png", class: "header_logo"), {controller: "catalogues", action: "show", id:"SPIRIT"} %>
      <%= link_to image_tag("uacover.png", class: "header_logo"), {controller: "catalogues", action: "show", id:"UNDER ARMOUR"} %>
      <%= link_to image_tag("vantagecover.png", class: "header_logo"), {controller: "catalogues", action: "show", id:"VANTAGE"} %>
    </div>
    <p id="showback">
      <a href = "/">BACK</a>
    </p>
  <% end %>

</body>
</html>
