<!DOCTYPE html>
<html>
  <head>
    <title>MomCatalogue</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div class = "head">
          hi user
          <%= link_to('sign out', destroy_user_session_path, :method => :delete ) %>
          <%= link_to('CONTACT', controller: "catalogues", action: "contact") %>
        </div>
      <% elsif admin_signed_in? %>
        <!-- <%= @test %> -->
        <div class = "head front-menu">

          <!-- <%= link_to("invite", new_user_invitation_path) %> -->
          <ul>
            <!-- dropdown menu with links to all vendors page and individual pages  -->
            <li class="top-menu"><a href="/vendors">VENDORS</a>
              <ul>
                <!-- add view all -->
                <li><%= link_to('BUM WRAPS', controller: "catalogues", action: "show", id:"BUM WRAPS") %></li>
                <li><%= link_to('CHAMPION', controller: "catalogues", action: "show", id:"CHAMPION") %></li>
                <li><%= link_to('GEAR', controller: "catalogues", action: "show", id:"GEAR") %></li>
                <li><%= link_to('OUT OF HAND', controller: "catalogues", action: "show", id:"OUT OF HAND") %></li>
                <li><%= link_to('SPERRY', controller: "catalogues", action: "show", id:"SPERRY") %></li>
                <li><%= link_to('SPIRIT', controller: "catalogues", action: "show", id:"SPIRIT") %></li>
                <li><%= link_to('UNDER ARMOUR', controller: "catalogues", action: "show", id:"UNDER ARMOUR") %></li>
                <li><%= link_to('VANTAGE', controller: "catalogues", action: "show", id:"VANTAGE") %></li>

              </ul>
            </li>
            <li class="top-menu"><a href="#">PHOTO GALLERY</a></li>
            <li><%= image_tag("Snapdragon_w_type.jpg", class: "header_logo") %></li>
            <li class="top-menu"><a href="#">ABOUT US</a></li>
            <li class="top-menu"><a href="/contact">CONTACT</a></li>
          </ul>
          <%= link_to('SIGN OUT', destroy_admin_session_path, :method => :delete, :class=>"authentication-link") %>
        </div>
      <% else %>
        <div class = "head">
          <%= link_to('LOG IN', '/admins/sign_in') %>
          <!-- <%= link_to('WHOLESALE LOG IN', '/users/sign_in') %> -->
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
